<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/portability' ? 'active' : '' %>" href="/portability">Portability</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/level' ? 'active' : '' %>" href="/level">Level</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/treatment' ? 'active' : '' %>" href="/treatment">Treatment</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/leak' ? 'active' : '' %>" href="/leak">Leak
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/consumptionTank1' ? 'active' : '' %>" href="/consumptionTank1">ConsumptionTank1
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/consumptionTank2' ? 'active' : '' %>" href="/consumptionTank2">ConsumptionTank2
                </a>
            </li>
        </ul>

    </nav>
</header>