<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <header>
                <h1>
                    <%= pageTitle %>
                </h1>
            </header>

            <form class="parameter-form" action="/leak/accelerometerbranched" method="POST">
                <label for="value1">value1:</label>
                <input type="text" id="value1" name="value1" placeholder="value1" value="<%= value1 %>" required>

                <label for="value2">value2:</label>
                <input type="text" id="value2" name="value2" placeholder="value2" value="<%= value2 %>" required>

                <label for="value3">value3:</label>
                <input type="text" id="value3" name="value3" placeholder="value3" value="<%= value3 %>" required>

                <label for="value4">value4:</label>
                <input type="text" id="value4" name="value4" placeholder="value4" value="<%= value4 %>" required>

                <label for="value5">value5:</label>
                <input type="text" id="value5" name="value5" placeholder="value5" value="<%= value5 %>" required>

                <label for="value6">value6:</label>
                <input type="text" id="value6" name="value6" placeholder="value6" value="<%= value6 %>" required>

                <label for="value7">value7:</label>
                <input type="text" id="value7" name="value7" placeholder="value7" value="<%= value7 %>" required>

                <label for="value8">value8:</label>
                <input type="text" id="value8" name="value8" placeholder="value8" value="<%= value8 %>" required>

                <%- include('../includes/end.ejs') %>